<div class="contentContainer">
    
        <div class="tableContainer">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Is_active</th>
                    <th></th>
                </tr>
                <% @users.each do |user|%>
                <tr>
                    <td><%= user.id%></td>
                    <td><%= user.username%></td>
                    <td><%= user.email%></td>
                    <td><%= user.role%></td>
                    <td><%= user.is_active%></td>
                    <td class="globalButtonContainer">
                        <div class="buttonsContainer">
                            <div class="editbuttonAction">
                                <%= link_to "Edit" %>
                                <%# <a href="#">Edit</a> %>
                            </div>
                            <div class="deletebuttonAction">
                                <%# <%= link_to "Delete", destroy_user_path(user.id), method: :delete %> 
                                <%= link_to "Delete", destroy_user_path(user.id), data: { confirm: 'Are you sure?' } %>

                                <%# <a href="#">Delete</a> %>
                            </div>
                        </div>
                    </td>
                </tr>
                <%end%>
                <%# <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <td>Germany</td>
                    <td>Germany</td>
                    <td class="globalButtonContainer">
                        <div class="buttonsContainer">
                            <div class="editbuttonAction">
                                <a href="#">Edit</a>
                            </div>
                            <div class="deletebuttonAction">
                                <a href="#">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr> %>
            </table>
        </div>
    </div>
