<!DOCTYPE html>
<html lang="en">
<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="globalLoginContainer">
        <div class="loginContainer">

            <div class="titleContainer">
                <h1 class="title">Login</h1>
            </div>

            <div class="formContainer" >
            <%# <form class="formContainer"> %>
            <%=form_with scope: :user, url: login_path, local: true, method: :post do |f| %>
                <div class="inputContainer">
                    <%=image_tag(asset_path("user.png"), class: "inputIcon")%>
                    <%= f.text_field :username, class: "inputField", placeholder: "Username" %>
                </div>
    
                <div class="inputContainer">
                    <%=image_tag(asset_path("lock.png"), class: "inputIcon")%>
                    <%= f.password_field :password, class: "inputField", placeholder: "Password"%>
                </div>

                <div class="buttonContainer">
                    <%= f.submit "Login", class: "button"%>
                </div>
            <% end %>
            </div>
            <%# </form> %>
        </div>
    </div>
</body>
</html>